<h3>Choix périmêtre</h3>
<h5>Choix utilisateur / groupe</h5>
<p-multiSelect
  [options]="users"
  [group]="true"
  [(ngModel)]="selectedGroupes"
  defaultLabel="choisir utilisateur"
  showClear="true"
  display="chip"
  (onChange)="gererContrats()"
>
  <ng-template let-group pTemplate="group">
    <div class="flex align-items-center">
      <span>{{ group.label }}</span>
    </div>
  </ng-template>
</p-multiSelect>
<h5>Choix contrats</h5>
<p-multiSelect
  [options]="contrats"
  [(ngModel)]="selectedContrat"
  defaultLabel="liste des contrats"
  optionLabel="label"
  display="chip"
></p-multiSelect>

<h3>Organigramme utilisateur / groupe / contrat</h3>
<p-tree
  [value]="files"
  layout="vertical"
  selectionMode="single"
  [(selection)]="selectedFile"
></p-tree>
